body
{
  --theme: black;
  --invert: white;
  color: #fafafa;
  background-color: #0D0D0D;
  &.light
  {
    --theme: white;
    --invert: black;
    color: #0D0D0D;
    background-color: #fafafa;
  }
  margin: 0;
  width: 100vw;
}
